/**********************************************************************
RESET
**********************************************************************/
html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6,
ol, p, pre, table, ul, dd, dt, li, tbody, td, tfoot, th, thead, tr,
button, del, ins, map, object, a, abbr, acronym, b, bdo, big, br, cite,
code, dfn, em, i, img, kbd, q, samp, small, span, strong, sub, sup, tt,
var, legend, fieldset {
  margin: 0;
  padding: 0;
}
img {
  border: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup,
menu, nav, section { 
  display: block;
}
*:focus {
  outline: none;
}

/**********************************************************************
FONTS
**********************************************************************/
@font-face {
  font-family: 'Roboto';
  src: url('fonts/roboto-regular-webfont.eot');
  src: url('fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
     url('fonts/roboto-regular-webfont.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'Roboto';
  src: url('fonts/roboto-bold-webfont.eot');
  src: url('fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
     url('fonts/roboto-bold-webfont.ttf') format('truetype');
  font-weight: bold;
}
@font-face {
  font-family: 'Roboto-Light';
  src: url('fonts/roboto-light-webfont.eot');
  src: url('fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
     url('fonts/roboto-light-webfont.ttf') format('truetype');
  font-weight: normal;
}

/**********************************************************************
GENERAL STYLING
**********************************************************************/
html {
  height: 100%;
  min-height: 100%;
  -webkit-text-size-adjust: none;
  overflow-x:hidden;
}

body {
  height: 100%;
  min-height: 100%;
  font: 10.5pt/1.4 Roboto, Helvetica, sans-serif;
  color: #494949;
  background: #eee;
}

.row {
    margin: 0 auto;
}

.cell { 
    width: 100px;
    height: 100px;
    border: 3px solid black;
    border-collapse: collapse;
    float: left;
    font-size: 20px;
    text-align: center;

}

.button {
  width: 100px;
    margin: 25px auto 0 auto;
}

button {
    width: 100px;
    font-size: 25px;
}

#board {
    width: 424px;
    margin: 5% auto;
}

#winner {
  text-align: center;
  height: 50px;
  font-size: 20px;
  color: green;
}





/*********** CLEANERS  ************/
.cleaner {
  display: block;
  clear: both;
  height: 0;
  content: '.';
  font-size: 0;
  line-height: 0;
  visibility: hidden;
}
.space {
  height:30px;
  display:block;
}